<launch>
  <!-- <!<node pkg="rosserial_server" type="serial_node" name="serial_drive_left">
    <rosparam>
      port: /dev/ttyACM0
      baud: 115200
      require:
        publishers: [ status_l ]
        subscribers: [ drive_left_control ]
    </rosparam>
  </node> -->

  <!-- <node pkg="rosserial_server" type="serial_node" name="serial_drive_right">
    <rosparam>
      port: /dev/ttyACM1
      baud: 115200
      require:
        publishers: [ status_r ]
        subscribers: [ drive_right_control ]
    </rosparam>
  </node> 

  <include file="$(find learning_joy)/turtle_joy.launch" />-->
  <node pkg="drive" type="teleop" name="teleop_mode" output="screen"/>
</launch>
