<launch>

    <arg name="map_file" default="$(find mapping)/maps/mdrs_costmap.yaml"/>

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- Run rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find mapping)/rviz/map_config.rviz" />

</launch>
